﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row chat-window" >
    <div class="col-md-12">
        <div class="row head-row">
            <div class="col-md-2 column-user-list height-of-head head-logo">
                <div class="user_name_avatar" id="user_name_avatar">@* Наполнение генерирует chat.js *@</div>
                <div class="messages_count" id="message_count">@* Наполнение генерирует chat.js *@</div>
               
            </div>
            <div class="col-md-8 height-of-head head-chat">
                <div class="user-name-head" id="head-user-name"> </div>
                <button class="back-to fas fa-arrow-left btn btn-default" id="back-to"></button>
            </div>
            <div class="col-md-2 height-of-head search-head">
                @if (User.Identity.IsAuthenticated)
                {
                    <div>
                        <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-default logout_link">Выйти</a>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 column-user-list height-of-chat" id="userList">
                @* Наполнение генерирует chat.js *@
            </div>
            <div class="col-md-8 height-of-chat">
                <div class="body-chat">
                    <div id="body-chat" class="body-chat-container">
                        @* Наполнение генерирует chat.js *@
                    </div>
                </div>
                <div class="message-chat">
                    <input type="text" name="name" value="" class="message-input" id="messageInput"/>
                    <button type="button" class="btn btn-default send-button" aria-label="Left Align" id="sendButton">
                        <span class="fa fa-space-shuttle" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-2 height-of-chat search-column">
                <h4>Фильтрация</h4>
                <button type="button" class="btn btn-default dtn-filter" id="today-button" aria-label="Left Align">
                    Сегодняшние сообщения
                </button>
                <button type="button" class="btn btn-default dtn-filter" id="yesterday-button" aria-label="Left Align">
                    Вчерашние сообщения
                </button>
                <button type="button" class="btn btn-default dtn-filter" id="data-filter-toggle" aria-label="Left Align">
                    Фильтрация по дате
                    <span class="fas fa-arrow-down" aria-hidden="true"></span>
                </button>
                <div class="form-group display_none" id="date-filter-container">
                    <div class="input-group date date-padding" id="datetimepicker7" data-target-input="nearest">
                        <input type="text" placeholder="Начало периода:" id="period1" class="form-control datetimepicker-input" data-target="#datetimepicker7" />
                        <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <div class="input-group date date-padding" id="datetimepicker8" data-target-input="nearest">
                        <input type="text" placeholder="Конец периода:" id="period2" class="form-control datetimepicker-input" data-target="#datetimepicker8" />
                        <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-secondary filter-button" id="filter">Отфильтровать</button>
                </div>
            </div>
        </div>
    </div>
</div>