﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: Andale;
    src: url(../fonts/AndaleMono.ttf) format('truetype')
}

html, body {
    height: 100%;
}

body {
    font-family: 'Andale';
    margin: 0;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.last-message {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 1px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
    font-size: 60%;
}

.last-message-time {
    font-size: 50%;
    padding: 1%;
    padding-top: 5%;
}

.user-link {
    padding: 2px 3px;
    background-color: #32363f !important;
    color: #8B979E !important;
    border-left: none !important;
    border-right: none !important;
    border-top: 1px #4d545c solid !important;
    border-bottom: 1px #4d545c solid !important;
    border-radius: 0px !important;
}

.column-user-list {
    padding: 0;
    background-color: #32363f !important;
}

.user-name {
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    padding: 2px 0px;
    padding-top: 5px;
    width: 68%;
    text-align: left;
    text-overflow: ellipsis;
    font-size: 80%;
}

.height-of-chat {
    height: 600px;
    padding: 0;
}

.height-of-head {
    height: 80px;
}

.head-logo {
    border-bottom: 2px #525961 solid;
}

.back-to {
    width: 31px;
    height: 30px;
    font-size: 22px;
    border: none;
    color: #8a979f;
}

.user-name-head {
    font-weight: bold;
}

.head-chat {
    border-bottom: 2px #f2f2f2 solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 14px;
}

.body-chat {
    border-top: 1px #f2f2f2 solid;
    border-bottom: 1px #f2f2f2 solid;
    height: 90%;
}

.body-chat-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-window {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: white;
    height: 680px;
}

.message-chat {
    height: 10%;
    border-top: 2px #f2f2f2 solid;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.head-font-size {
    font-size: 120%;
    padding: 10%;
    color: #525961 !important;
}

.search-column, .search-head {
    border-left: 2px #f2f2f2 solid;
}

.message-input {
    border: 2px #8a979f solid;
    width: 90%;
    margin-left: 4%;
}

.send-button {
    border: none;
    color: #8a979f;
    padding: 1px 4px;
    font-size: 16px;
    margin: 10px;
    border-radius: 0;
}

.search-input {
    border: none;
    background-color: #ebecee;
    width: 81%;
    margin-left: 5px;
}

.search-button {
    margin-right: 5px;
    padding: 1px 11px;
    border-radius: 0px;
    border: none;
    background-color: #ebecee;
    color: #bcbdc1;
}

.search-head {
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.user-link:hover {
    color: #ebecee !important;
}

.body-chat {
    font-family: Andale;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.send-message {
    display: flex;
    margin-right: 13px;
}



.date_send_message {
    background-color: #7ab342;
    width: 100%;
    text-align: right;
    font-size: 8px;
    padding: 7px;
    line-height: 1px;
}

.rect_receive {
    margin-left: 8px;
    width: 3px;
    height: 3px;
    border: 6px solid transparent;
    border-bottom: 6px solid #8a979f;
}

.rect_send {
    width: 3px;
    height: 3px;
    border: 6px solid transparent;
    border-left: 6px solid #7ab342;
    margin-top: 5px;
}

.send_message_block, .receive_message_block {
    width: fit-content;
    width: 100%;
    margin: 10px;
}

.send_message_block {
    display: flex;
    justify-content: flex-end;
}

.send-message, .receive-message {
    width: fit-content;
    color: white;
}

.send_message_block > div > div > p {
    background-color: #7ab342;
    padding: 5px;
    margin: 0;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 0px;
    line-height: 14px;
    min-width: 80px;
    word-break: break-word;
}

.receive_message_block > h4 {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    line-height: 7px;
}

.receive_message_block > p {
    background-color: #8a979f;
    min-width: 80px;
    word-break: break-word;
    padding: 5px;
    font-size: 14px;
}

.receive-message > div > p {
    background-color: #8a979f;
    padding: 5px;
    margin: 0;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 0px;
    line-height: 14px;
}

.receive-message {
    width: fit-content;
}

.date_receive_message {
    background-color: #8a979f;
    width: 100%;
    text-align: right;
    font-size: 8px;
    padding: 7px;
    line-height: 1px;
}

.messages_field {
    padding: 20px;
}

.chat-window {
    font-family: Andale;
}

.messages_count {
    color: #8B979E;
    font-size: 8px;
    padding: 0 5px;
}
.user_name_avatar {
    font-size: 18px;
    color: #8B979E;
    padding: 5px;
}

.display_none {
    display: none;
}

.dtn-filter:hover {
    color: #8B979E;
}

.dtn-filter {
    text-align: left;
}

.search-column > h4 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.date-padding {
    padding: 10px;
}

.filter-button {
    margin: 10px;
}

.logout_link {
    color: #8b979e;
    font-weight: bold;
}

.logout_link:hover {
    color: #343a40;
}

.body_app {
    background: #30383D;
    color: #8B979E;
    display: flex;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-login {
    width: 100%;
    border: 2px #8B979E solid;
    color: white;
    background-color: #30383D;
}

body > div > main > div > div > h2 {
    font-size: 50px;
    font-weight: bold;
}

.buttons_login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons_login > a {
    text-decoration: none;
    color: #8B979E !important;
}

.buttons_login > input {
    text-decoration: none;
    color: #8B979E !important;
    background: none;
    border: none;
}

.buttons_login > a:hover, .buttons_login > input:hover {
    color: white !important;
}