﻿@model LiveChat.ViewModels.LoginModel;



<div class="login">
    <div>
        <h2>FinanceSoft Chat</h2>

        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="form-group">
                    <input type="text" asp-for="Email" class="form-login"/>
                    <span asp-validation-for="Email"/>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-login"/>
                    <span asp-validation-for="Password"/>
                </div>
                <div class="form-group  buttons_login">
                    <a asp-action="Register" asp-controller="Account">Create account</a>
                    <input type="submit" value="Enter"/>
                </div>
            </div>
        </form>
    </div>
</div>