﻿@model LiveChat.ViewModels.RegisterModel;



<div class="login">
    <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
        <h2>Регистрация</h2>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div>
                <label asp-for="Name">Введите Имя</label><br />
                <input type="text" asp-for="Name" class="form-login" />
                <span asp-validation-for="Name" />
            </div>
            <div>
                <label asp-for="Email">Введите Email</label><br />
                <input type="text" asp-for="Email" class="form-login" />
                <span asp-validation-for="Email" />
            </div>
            <div>
                <label asp-for="Password">Введите пароль</label><br />
                <input asp-for="Password" class="form-login" />
                <span asp-validation-for="Password" />
            </div>
            <div>
                <label asp-for="ConfirmPassword">Повторите пароль</label><br />
                <input asp-for="ConfirmPassword" class="form-login" />
                <span asp-validation-for="ConfirmPassword" />
            </div>
            <div class="buttons_login" style="margin-top: 20px; justify-content: center">
                <input type="submit" value="Регистрация" />
            </div>
        </div>
    </form>
</div>